In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("/Users/yachidarji/Documents/DriveY/Project/UK analysis/data/raw/kaggle_ppd/price_paid_records.csv")

print(df.shape)
df.head()

(22489348, 11)

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A

In [3]:
# Quick inspection  - shape, info, missing values, describe, head

def inspect_df(df, name="df"):
    print(f"--- {name} ---")
    print("Shape:", df.shape)
    print("\nInfo:")
    display(df.info())
    print("\nMissing values:")
    display(df.isna().sum().sort_values(ascending=False))
    print("\nDescribe (numeric):")
    
    display(df.describe(include=[np.number]))

 

inspect_df(df, "df")

--- df ---
Shape: (22489348, 11)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22489348 entries, 0 to 22489347
Data columns (total 11 columns):
 #   Column                             Dtype
---  ------                             -----
 0   Transaction unique identifier      object
 1   Price                              int64
 2   Date of Transfer                   object
 3   Property Type                      object
 4   Old/New                            object
 5   Duration                           object
 6   Town/City                          object
 7   District                           object
 8   County                             object
 9   PPDCategory Type                   object
 10  Record Status - monthly file only  object
dtypes: int64(1), object(10)
memory usage: 1.8+ GB

None

Missing values:

Transaction unique identifier        0
Price                                0
Date of Transfer                     0
Property Type                        0
Old/New                              0
Duration                             0
Town/City                            0
District                             0
County                               0
PPDCategory Type                     0
Record Status - monthly file only    0
dtype: int64

Describe (numeric):

              Price
count  2.248935e+07
mean   1.782442e+05
std    3.903677e+05
min    1.000000e+00
25%    7.500000e+04
50%    1.300000e+05
75%    2.100000e+05
max    9.890000e+07

In [ ]:
# dtype change for date column
df["Date of Transfer"] = pd.to_datetime(df["Date of Transfer"], errors="coerce")

In [ ]:
# a) How many property types?
df["Property Type"].nunique(), df["Property Type"].value_counts()

#Property Type D = Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other

(5,
 Property Type
 T    6918811
 S    6216218
 D    5170327
 F    4083424
 O     100568
 Name: count, dtype: int64)

In [ ]:
# b) How many Old/New types?
df["Old/New"].nunique(), df["Old/New"].value_counts()

# y means newly built, n means not newly built

(2,
 Old/New
 N    20192676
 Y     2296672
 Name: count, dtype: int64)

In [ ]:
# c) How many property types?  F= freehold, L= leasehold, U=unknown
df["Duration"].nunique(), df["Duration"].value_counts()

(3,
 Duration
 F    17176410
 L     5312258
 U         680
 Name: count, dtype: int64)

In [15]:
# c) How many property types?  F= freehold, L= leasehold, U=unknown
df["Town/City"].nunique(), df["Town/City"].value_counts()

(1170,
 Town/City
 LONDON           1784194
 MANCHESTER        366133
 BRISTOL           344839
 BIRMINGHAM        330358
 NOTTINGHAM        292532
                   ...
 GRETNA                 7
 PORT DINORWIC          5
 GATWICK                5
 KELSO                  1
 THORNHILL              1
 Name: count, Length: 1170, dtype: int64)

In [ ]:
# c) How many PPDCategory Types? 
# A = Standard Price Paid entry, includes single residential property sold for full market value.
# B = Additional Price Paid entry including transfers under a power of sale/repossessions,
df["PPDCategory Type"].nunique(), df["PPDCategory Type"].value_counts()

(2,
 PPDCategory Type
 A    22141173
 B      348175
 Name: count, dtype: int64)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22489348 entries, 0 to 22489347
Data columns (total 11 columns):
 #   Column                             Dtype
---  ------                             -----
 0   Transaction unique identifier      object
 1   Price                              int64
 2   Date of Transfer                   datetime64[ns]
 3   Property Type                      object
 4   Old/New                            object
 5   Duration                           object
 6   Town/City                          object
 7   District                           object
 8   County                             object
 9   PPDCategory Type                   object
 10  Record Status - monthly file only  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.8+ GB